#navwrap {
    clear: both;
    border-bottom: 3px solid [[setting:navbarborder]];
}

.navbar {
    clear: none;
    float: none;
    margin-bottom: 0;
    min-width: 40%;
    margin-top: 0px;
    margin-left: -20px;
}

.navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border: 0px solid #D4D4D4;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
    min-height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    filter: none;
    box-shadow: none;
}

.navbar .nav > li > a {
    color: #444 !important;
    line-height: 40px;
    float: none;
    padding: 0px 20px 0px;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
    border-right: 0px solid rgba(0,0,0, .2);
    margin-bottom: -3px;
}

.navbar .nav > li > a:hover {
    color: #3c469c;
    text-decoration: none;
    border-bottom: 3px solid [[setting:navbarhover]];
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #fff;
}

.navbar .btn-navbar, .navbar .btn-navbar:hover, .navbar .btn-navbar:active {
    background-color:#001e3c;
    background: #001e3c !Important;
}

.nav-collapse.active {
    background: #fff;
    height: auto;
    top: 6px;
}

.navbar .pull-right a {
    padding: 4px 15px;
    border-left: 1px solid rgba(255,255,255, .2);
}

.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
    display: none;
}

.dropdown-menu {
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: 14px;
    padding: 0px 0px;
}

.nav .dropdown-menu li a {
    border-bottom: 1px solid #EEEEEE;
    color: #687074;
    font-size: 13px;
    font-weight: 400;
    padding: 6px 15px;
    border-bottom-width: 1px !important;
}

.nav-collapse.collapse.active li a {
    border-bottom: 1px solid #ccc !important;
    background: #fff !important;
    margin-bottom: 0px;
}

.nav .dropdown-menu li a:hover, .navbar .nav > li > a:hover {
    background: rgba(255,255,255,.1);
    color: #333;
}

.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background: rgba(255,255,255,.1);
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

@media only screen and (min-width : 768px) {
    /*on hover only for large screens*/
    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-submenu>.dropdown-menu {
        display: none;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    /*end on hover hack */
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .nav > li:last-child > a {
	border-right: 0px !important;
}

.dropdown .fa.fa-briefcase {
	padding-right: 4px;
}

.navbar .btn, .navbar .btn-group {
	margin-top: 3px;
}

@media (max-width: 979px) {
    .hbl, .sbl, .hbll, .sbll {
        display: none !important;
    }

    #navwrap {
        border-bottom: 0;
    }

    #page-header a img {
        margin: 0 auto;
        float: none;
        display: block;
    }
}

.container-fluid {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.menutitle {
    height: 100%;
}

@media (max-width: 990px) {
    .menutitle {
        float: none;
    }
}
@media (min-width: 990px) {
    .navbar .nav>li {
        height: 40px;
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}